# Do not commit this
build

.DS_Store

node_modules/

Firefox/data/xkit/
Extensions/dist/*.json

Extensions/dist/page/gallery.json
Extensions/dist/page/list.json
Extensions/dist/page/themes.json

*.swp

*.iml
.idea/
