# Do not commit this

# Only ignore build/ in project root
/build

.DS_Store

node_modules/

/Extensions/dist/*.json

/Extensions/dist/page/gallery.json
/Extensions/dist/page/list.json
/Extensions/dist/page/themes.json

*.swp

*.iml
.idea/
