<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>New XKit Team</string>
	<key>Builder Version</key>
	<string>13605.1.6.0.1</string>
	<key>CFBundleDisplayName</key>
	<string>New XKit</string>
	<key>CFBundleIdentifier</key>
	<string>com.new-xkit.xkit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>7.8.2</string>
	<key>CFBundleVersion</key>
	<string>7.8.2</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>52428800</integer>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>bridge.js</string>
				<string>xkit.js</string>
				<string>editor.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>jquery.js</string>
				<string>moment.js</string>
				<string>tiptip.js</string>
				<string>nano.js</string>
				<string>lodash.min.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>xkit.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>New XKit improves blogging on Tumblr by providing helpful extensions.</string>
	<key>DeveloperIdentifier</key>
	<string>JTRG49NC7Z</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.tumblr.com</string>
				<string>*.txmblr.com</string>
				<string>*.xkit.info</string>
				<string>new-xkit.github.io</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://new-xkit.github.io/XKit/Extensions/dist/page/SafariUpdate.plist</string>
	<key>Website</key>
	<string>http://new-xkit-extension.tumblr.com/</string>
</dict>
</plist>
