/* NAME Crocodile Green **/
/* VERSION 1.0.1 **/
/* DESCRIPTION Crocodile skin background with green trim **/
/* DEVELOPER crocodilesinbusinesssuits **/

body {
    background: #041705;
    background-image: url('http://media.tumblr.com/e36d38530c1106a037ccb7a348c9ea5d/tumblr_inline_mox4uctYE91qz4rgp.jpg');
    background-attachment: fixed;
    margin: 0;
}

#content {
    background: #1b331b;
}

.post {
    background: #152715;
    border-radius: 10px;
}

.post_content {
    background: transparent!important;
}

#right_column:after {
    background: none!important;
}

.controls_section li {
    background: #152715;
}
