/* NAME Blur **/
/* VERSION 2.0.0 **/
/* DESCRIPTION A simple, clean Tumblr dash theme with a soft, blurred background. For the best experience (with frosted glass blurs), visit and enable chrome://flags/#enable-experimental-web-platform-features and restart Chrome. **/
/* DEVELOPER HeyItsJono - http://kaywhatever.tumblr.com/ **/

/* Background body image changed; restore the old one by using 'https://new-xkit.github.io/XKit/Themes/blur/body-background.png' */
body {
	background: url('https://new-xkit.github.io/XKit/Themes/blur/new-body-background.png') center #000000 repeat fixed !important;
	background-size: cover;
	-webkit-transform:translatez(360deg);
}

/* Add a blue glass effect to the nav bar */ 
.l-header-container--refresh {
    /* old pre-blur color -- background-color: rgba(50,53,60,0.67); */
    background-color: rgba(100, 117, 154, 0.19);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.selected .tab_notice {
    background: rgb(193,33,91);
}

.tab-bar-container .tab_notice {
    background: rgb(193,33,91);
}

.tab-notice--outlined {
    border-color: rgb(193,33,91);
}

.tab_notice .tab_notice_value {
    color: rgb(65, 66, 68);
}

.compose-button {
    fill: rgba(200, 203, 208, 0.7);
}

.l-container.l-container--two-column .right_column, .l-container.l-container--two-column-dashboard .right_column {
    background-color: rgba(1,1,1,0);
}

.identity .controls_section li:not(.section_header):not(.selected_blog):hover {
    background-color: rgba(50,53,60,0.15);
}

.identity-refresh .controls_section.user_list li .follow_list_item_blog:before {
    background: rgba(0, 0, 0, 0);
    border-right: none;
}

.identity-refresh .controls_section.user_list li:hover .follow_list_item_blog:before {
    background: none;
    border-right: none;
}

.plus-follow-button {
    color: #414244;
}

.plus-follow-button:hover {
    background: #C12C5B;
}
.identity .controls_section .item:hover .follow:hover {
    background: #C12C5B;
}

.identity-refresh .radar .radar_footer .radar_avatar:before {
    background: rgba(0, 0, 0, 0);
}

.radar .radar_footer .radar_avatar:before {
    background: rgba(0, 0, 0, 0);
}

.l-container.l-container--two-column-dashboard .left_column {
    background-color: rgba(1,1,1,0);
}

.l-container.l-container--two-column .l-content, .l-container.l-container--two-column-dashboard .l-content {
    background-color: rgba(1,1,1,0);
}

/*
.post {
	background: blue;
	border-radius: 20px;
}
*/

.post-container {
    background: transparent;
}

.post_content {
	background: transparent !important;
}

#right_column:after {
	background: none !important;
}

.controls_section li {
	background: rgba(1,1,1,0);
}

.post_avatar,
.post_avatar .post_avatar_link {
	background-color: transparent;
}

.chrome {
    border-width: 0px;
    background: rgba(200, 203, 208, 0.20);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.chrome:active {
    background: rgba(200,203,208,0.40);
}

.chrome.blue {
    background: rgba(255,255,255,0.35);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.chrome.blue:active {
    background: #C12C5B;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.rapid-recs-container .rapid-recs {
    background-image: linear-gradient(to bottom,rgba(68, 76, 88, 0)0%,rgba(44, 47, 51, 0.18) 15%,rgba(44, 47, 51, 0.18) 85%,rgba(68, 76, 88, 0)100%);
}

.post_avatar {
    background-color: rgba(44, 47, 51, 0.18);
}

.post_avatar .post_avatar_link {
    background-color: rgba(44, 47, 51, 0.18);
}

.sorry {
    color: rgb(245,245,245);
}

.sorry a {
    color: #B2FF00
}

.post_avatar {
    background-color: rgba(54, 70, 93, 0);
}

.l-container.l-container--flex .l-content {
	background-color: rgba(0,0,0,0);
}

/* Change Reblog Post background overlay to blue glass. */
.post-forms-glass {
	background-color: rgba(100, 117, 154, 0.19);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

/* Change related likes background overlay to blue glass. */
body.flag--always-opaque-peepr .ui_peepr_glass {
	background-color: rgba(100, 117, 154, 0.19);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

/* Add light drop-shadow to avatars */
.post_avatar.post-avatar--sticky .post_avatar_wrapper {
	box-shadow: 0px 2px 3px rgba(0,0,0,0.15);
}

/* Dog-ear transparency code by https://motackt.tumblr.com, thanks for the help! */
/*when hovering over post, use gradient to cut away upper-right corner.*/
.post.post_full:hover {
	background: linear-gradient(225deg, transparent 0%, transparent 12px, #FFF 12px, #FFF 100%);
}

/*otherwise, use gradient to show the whole post container (this will be more useful when transitions are available for linear gradients*/
/*and ofc make sure new post buttons never dog ear*/
.post.post_full, .new_post_buttons_container {
	background: linear-gradient(225deg, #FFF 0%, #FFF 12px, #FFF 12px, #FFF 100%);
}

/*remove transition when going to hover over post too*/
.post_full:hover .post_permalink {
	transition: unset;
}

/*remove the dark blue border + bg-color of the dog-ear, and remove transition when post stops being hovered over, because linear gradients don't have transitions yet*/
.post_full .post_permalink {
	border-color: transparent transparent #d0d0d0 #d0d0d0;
	background: transparent;
	transition: unset;
}
/* End dog-ear transparency code */

/* XKit Theme Editor Button custom CSS start */
a#xkit-theme-editor-button.customize {
    color: hsla(0,0%,100%,.6);
    font-family: "Helvetica Neue";
    font-size: 12px;
}

a#xkit-theme-editor-button.customize > div.hide_overflow {
	padding-left: 10px;
	background-color: rgba(100, 117, 154, 0.19);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 5px;
	margin: 0 239px 0 0;
}
/* XKit Theme Editor Button custom CSS end */

/* Add some glass to XKit menus and overlays */
#xkit-postarchive-background {
	background-color: rgba(52, 60, 78, 0.26);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

#xkit-control-panel-shadow {
	background-color: rgba(100, 117, 154, 0.19);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}
/* End XKit Glass */
