.alternative_timestamp {
	font-size: 11px;
	font-weight: normal;
	color: rgb(168,177,184);
	clear:left;
	margin-bottom: 10px;
}

.old_tumblr_done .alternative_timestamp {
	/* compatibility hack */
	margin: -0.3em 0 0.7em;
}

.alternative_timestamps_preview {
	font-style: italic;
}