.alternative_timestamp {
	font-weight: normal;
	clear:left;
}

.old_tumblr_done .alternative_timestamp {
	/* compatibility hack */
	margin: -0.3em 0 0.7em;
}

.alternative_timestamps_preview {
	font-style: italic;
}