.post_full .post_media { position: relative; }

.xkit-audio-plus-slider-container {
	position: absolute;
	bottom: 7px;
	left: 8px;
	background: rgba(0,0,0,0.33) no-repeat 10px 50% url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAALCAYAAACZIGYHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RUM5QjAxRTYxNzI3MTFFM0E2RkFCMjhCQTdGQjEwOTAiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RUM5QjAxRTcxNzI3MTFFM0E2RkFCMjhCQTdGQjEwOTAiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpFQzlCMDFFNDE3MjcxMUUzQTZGQUIyOEJBN0ZCMTA5MCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpFQzlCMDFFNTE3MjcxMUUzQTZGQUIyOEJBN0ZCMTA5MCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PihVDREAAAB0SURBVHjaYmSgDHABsS4jBQaoArE2EP8nxxA+IDYGYmEo/zcLCZqZgFgDipmQJYg1RBhqOx82SUKGsED9rUpIES4gCcSG0BhgINUQdiDWB2I5YgML3RB5qAFspEQXzBBuqNMlyEkwIEPUgFiLhJjCAAABBgCzWgWZRwU92AAAAABJRU5ErkJggg==);
	width: 145px;
	height: 23px;
	border-radius: 6px;
	padding-left: 35px;
	padding-right: 5px;
	z-index: 77;
	opacity: 0.65;
}

.xkit-audio-plus-slider-container:hover {
	opacity: 1;
}

.xkit-audio-plus-slider-container * {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.xkit-audio-plus-slider {
	width: 100px;
	position: absolute;
	top: 50%; height: 6px;
	margin-top: -3px;
	background: rgba(0,0,0,0.33);
	border-radius: 6px;
}

#right_column.has_docked_audio {
	opacity: 0.3;
}

.xkit-audio-plus-pseudo-post {
	display: block;
	position: fixed;
	background: white;
	height: auto;
	width: 300px;
	border-radius: 3px;
	padding: 15px 0;
	left: calc(50% + 178px);
	bottom: 15px;
	opacity: 0;
	z-index: -1;
	transition:
		bottom .15s cubic-bezier(.165,.84,.44,1),
		transform .15s cubic-bezier(.165,.84,.44,1), 
		opacity .15s cubic-bezier(.165,.84,.44,1);
}

#search_actions_search .xkit-audio-plus-pseudo-post {
	left: calc(50% + 289px);
}

.xkit-audio-plus-pseudo-post.showing {
	bottom: 20px;
	opacity: 1;
	z-index: 78;
}

.peepr .xkit-audio-plus-pseudo-post {
	opacity: 0;
	z-index: -1;
}

.xkit-audio-plus-controls {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 85px;
	min-height: unset;
	padding: 5px;
	bottom: 0px;
	z-index: 1;
}

.audio-player .play-pause {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
}

.xkit-audio-plus-controls .audio-info {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	user-select: none;
}

.xkit-audio-plus-controls .audio-info * {
	display: inline-block;
	margin-left: 10px;
	font-size: 13px;
}

.xkit-audio-plus-controls .audio-info .track-name {
	font-size: 15px;
}

.audio-player .play-pause .icon {
	display: contents;
}

/* The following three heavily use Tumblr's dock_button styles */
#xkit-audio-plus-controls-undock-container {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-self: flex-end;
	position: absolute;
	background-color: #748089;
	width: 21px;
	height: 21px;
	top: -10px;
	right: -10px;
	border-radius: 50%;
	font-size: 12px;
	cursor: pointer;
	color: #fff;
	z-index: 2;
}

#xkit-audio-plus-controls-undock::before {
	content: "î¨Ÿ";
}

#xkit-audio-plus-controls-undock {
	font-family: "tumblr-icons","Blank";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 12px;
	cursor: pointer;
	color: #fff;
}
