.xkit-blacklist-none {
	padding: 15px;
	color: rgb(150,150,150);
	font-size: 13px;
	line-height: 22px;
	text-align: center;	
}

.xblacklist_blacklisted_post {
	opacity: 0.7;	
	padding-bottom: 10px !important;
}

.xblacklist_blacklisted_post .post_footer { display: none !important; }

.xblacklist_blacklisted_post .post_footer,
.xblacklist_blacklisted_post .post_header,
.xblacklist_blacklisted_post .xtimestamp {
	display: none;	
}

.xblacklist_excuse {
	padding: 0; text-align: left; font-size: 12px;
	color: rgb(130,130,130); height: 40px; line-height: 40px;	
	position: relative; margin-top: 5px;
}

.xblacklist_open_post {
	position: absolute;
	height: 30px; line-height: 20px;
	top: 50%; margin-top: -15px;
	right: 0px; margin-bottom: 0;
}

.xblacklist_open_post:active {
	position: absolute !important;
	top: 50% !important; margin-top: -14px !important;
	right: 0px !important;
}

.xblacklist_hidden_post {
	display: none;	
}

.xkit-blacklist-add-margins-to-ul {
	margin: 0; padding: 0px 20px;
}

.xkit-blacklist-add-margins-to-ul li {
	margin-bottom: 10px;	
}

#xkit-blacklist-add-to-whitelist {
	padding-left: 0px;
	margin-bottom: 10px;
	margin-top: 3px;
}

#blacklist-word-container {
	position: absolute;
	height: auto;
	width: 100%;
}

#blacklist-toolbar {
	background: rgb(245,245,245);
	padding: 3px 15px;
	border-bottom: 1px solid rgb(190,190,190);	
}

.xkit-blacklist-clear {
	height: 0; line-height: 0;
	clear: both; display: none;
}

#whitelist-words,
#blacklist-words {
	width: 50%;
	float: left;	
	box-sizing: border-box;
	height: 100%;
}

#whitelist-words {
	border-left: 1px solid rgb(190,190,190);	
	position: absolute;
	right: 0;
	top: 0;
}

.blacklist-words-title {
	background: rgb(240,240,240);
	text-align: center;
	font-size: 13px;
	padding: 5px;
	border-bottom: 1px solid rgb(190,190,190);
}

.xkit-blacklisted-word {
	border-bottom: 1px solid rgb(190,190,190);
	padding: 0px 15px 0px 40px;	
	height: 30px;
	line-height: 30px;
	color: rgb(100,100,100);
	font-size: 12px;
	position: relative;	
}

.xkit-blacklisted-word:last-child {
	border-bottom: 0;	
}

.xkit-blacklisted-word-delete {
	margin-right: 10px;
	margin-left: 4px;
	color: #AD074A;
	cursor: pointer;
	position: absolute;
	height: 30px; line-height: 30px;
	left: 15px; top: 0;
}

.xkit-blacklisted-word-delete:hover {
	color: #CC0857;
}