.control-item.control-anchor .hide_overflow::before {
	display: inline-block;
	width: 25px;
	vertical-align: sub;
	margin-right: 0.5em;
	font: normal 24px/0 tumblr-icons, Blank;
	text-align: center;
}

.control-item.control-anchor.posts .hide_overflow::before {
	content: "\EA8B";
}
.control-item.control-anchor.followers .hide_overflow::before {
	content: "\EA44";
}
.control-item.control-anchor.activity .hide_overflow::before {
	content: "\EA01";
}
.control-item.control-anchor.members .hide_overflow::before {
	content: "\EA59";
}
.control-item.control-anchor.drafts .hide_overflow::before {
	content: "\EA25";
}
.control-item.control-anchor.processing .hide_overflow::before {
	content: "\EA8C";
}
.control-item.control-anchor.queue .hide_overflow::before {
	content: "\EA8D";
	margin-left: -2px;
	padding-right: 2px;
}
.control-item.control-anchor.review .hide_overflow::before {
	content: "\EABC";
}
.control-item.control-anchor.customize .hide_overflow::before {
	content: "\EAB3";
}
