:root {
	--old-blue: #36465d;
	--old-accent: #529ecc;
	--old-red: #d95e40;
	--old-green: #56bc8a;
	--old-purple: #a77dc2;
	--old-orange: #f2992e;
	--old-grey: #8f8f8f;
	--old-vidgrey: #748089;
}

body.flag--old-blue {
    color: #444;
}

.flag--old-blue a {
    color: #444;
}

.flag--old-blue .tab_notice {
    background-color: var(--old-accent);
}

.flag--old-blue .selected .tab_notice {
    background: var(--old-accent);
}

.flag--old-blue .tab_notice .tab_notice_value {
    color: var(--old-blue);
}

.flag--old-blue .tab-notice--outlined {
    border-color: var(--old-blue);
}

.flag--old-blue .blog_menu .tab_notice {
    background-color: var(--old-accent);
}

.flag--old-blue .blog_menu .tab_notice .tab_notice_value {
    color: var(--old-blue);
}

.flag--old-blue .identity,
.identity.flag--old-blue {
    background-color: var(--old-blue);
}

.flag--old-blue .l-container.l-container--two-column .l-content,
.flag--old-blue .l-container.l-container--two-column-dashboard .l-content {
    background-color: var(--old-blue);
}

.flag--old-blue .l-container.l-container--two-column .right_column,
.flag--old-blue .l-container.l-container--two-column-dashboard .right_column {
    background-color: var(--old-blue);
}

.flag--old-blue .l-container.l-container--two-column-dashboard .left_column {
    background-color: var(--old-blue);
}

.flag--old-blue .l-container.l-container--flex .l-content {
    background-color: var(--old-blue);
}
.flag--old-blue .identity .controls_section .item:hover .follow:hover {
    background: var(--old-accent);
}

.identity.flag--old-blue .right_column .small_text {
    color: hsla(0,0%,100%,.4);
}
.identity.flag--old-blue .right_column:after {
    background: linear-gradient(180deg,#36465d,rgba(54,70,93,0));
}

.identity.flag--old-blue .controls_section .delete_all_messages,
.identity.flag--old-blue .controls_section .open_blog .open_blog_link,
.identity.flag--old-blue .controls_section .sub_control,
.identity.flag--old-blue .controls_section a .count,
.identity.flag--old-blue .controls_section.user_list li .follow_list_item_blog .tumblelog_title {
    color: hsla(0,0%,100%,.25);
}

.identity.flag--old-blue .controls_section.user_list li .follow_list_item_blog .tumblelog_name {
    color: hsla(0,0%,100%,.25);
}

.identity.flag--old-blue .controls_section li.section_header,
.identity.flag--old-blue .controls_section.follow_list.recommended_tumblelogs > li.item {
    border-color: hsla(0,0%,100%,.13);
}

.flag--old-blue .form-container .survey-result .highlight {
    color: var(--old-red);
}
.flag--old-blue .form-container .form-row.checkmark-row .option-radio:checked+.option-label:after {
    color: var(--old-accent);
}

.flag--old-blue .dynamic-fields .remove-url-button {
    background-color: var(--old-red);
}

.flag--old-blue .flag--one-true-post .post-micro .post-content--link {
    background-color: var(--old-green);
}

.flag--old-blue .flag--one-true-post .post-audio-block.post-audio--error {
    background-color: var(--old-red);
}

.flag--old-blue .flag--one-true-post .post-reblog-button.post-reblog-button--reblogged .icon {
    color: var(--old-green);
}

.flag--old-blue .flag--one-true-post .post-like-button.post-like-button--liked .icon {
    color: var(--old-red);
}

.flag--old-blue .flag--one-true-post .post-like-heart-animation.like {
    color: var(--old-red);
}
.flag--old-blue .flag--one-true-post .post-reblog-trail-item--reblog .post-avatar:after {
    background-color: var(--old-green);
}

.flag--old-blue .flag--one-true-post .follow-button--worded .follow-text {
    color: var(--old-accent);
}

.flag--old-blue .cta-blue-button .tsp-opacity-overlay {
    border-color: var(--old-accent);
}

.flag--old-blue .cta-blue-button .cta-color-applied {
    color: var(--old-accent);
}

.flag--old-blue .cta-green-button .tsp-opacity-overlay {
    border-color: var(--old-green);
}

.flag--old-blue .cta-green-button .cta-color-applied {
    color: var(--old-green);
}

.flag--old-blue .cta-purple-button .tsp-opacity-overlay {
    border-color: var(--old-purple);
}

.flag--old-blue .cta-purple-button .cta-color-applied {
    color: var(--old-purple);
}

.flag--old-blue .form-container.success .success-message .message-text .message-link {
    color: var(--old-accent);
}

.flag--old-blue .form-container label.image-upload,
.flag--old-blue .form-container-static label.image-upload {
    color: var(--old-grey);
}

.flag--old-blue .form-container .sub-label,
.flag--old-blue .form-container-static .sub-label {
    color: var(--old-grey);
}

.flag--old-blue .form-container .error-message,
.flag--old-blue .form-container-static .error-message {
    color: var(--old-red);
}

.flag--old-blue .form-container .language-notice,
.flag--old-blue .form-container-static .language-notice {
    color: var(--old-red);
}

.flag--old-blue .drawer-error-tag {
    background-color: var(--old-red);
}

.flag--old-blue .loader-bar .bar.red {
    background: var(--old-red);
}

.flag--old-blue .loader-bar .bar.orange {
    background: var(--old-orange);
}

.flag--old-blue .loader-bar .bar.green {
    background: var(--old-green);
}

.flag--old-blue .loader-bar .bar.purple {
    background: var(--old-purple);
}

.flag--old-blue .audio-player {
    background: var(--old-purple);
}

.flag--old-blue .popover--base-overlay {
    background: var(--old-blue);
}

.flag--old-blue .popover_header {
    color: #444;
}

.flag--old-blue .popover_menu_item small {
    color: var(--old-grey);
}

.flag--old-blue .search_popover .search_results_section .search_subheading {
    color: var(--old-grey);
}

.flag--old-blue .popover_share_social .share_form.embed .share_label,
.flag--old-blue .popover_share_social .share_form.facebook .share_label,
.flag--old-blue .popover_share_social .share_form.twitter .share_label {
    color: var(--old-grey);
}

.flag--old-blue .popover_share_social .share_form.twitter .character_count.character-limit {
    color: var(--old-red);
}

.flag--old-blue .popover_share_social .share_form .reply_to {
    color: var(--old-grey);
}

.flag--old-blue .popover_share_social .status .status_message {
    color: var(--old-grey);
}

.flag--old-blue .tumblelog_popover .recommended_blogs .tumblelog_info_heading {
    color: var(--old-grey);
}

.flag--old-blue .tumblelog_popover .recommended_blogs .name h4 {
    color: var(--old-grey);
}

.flag--old-blue .info_popover .popover_inner ul li.label {
    color: var(--old-grey);
}

.flag--old-blue .info_popover .popover_inner ul li.web-subscribe-how-to {
    color: var(--old-grey);
}
.flag--old-blue .popover_vendor .popover_menu_item:hover {
    color: var(--old-blue);
}
.flag--old-blue .popover_vendor .popover_menu_item:hover .subtext,
.flag--old-blue .popover_vendor .popover_menu_item:hover .subtext-email {
    color: var(--old-blue);
}

.flag--old-blue .post_avatar {
    background-color: var(--old-blue);
}

.flag--old-blue .post_avatar.flat {
    border-color: var(--old-blue);
}

.flag--old-blue .post_avatar.lighter_blue {
    background-color: var(--old-blue);
}

.flag--old-blue .post_avatar .post_avatar_link {
    background-color: var(--old-blue);
}

.flag--old-blue .post .post_header .post_info_link {
    color: var(--old-grey);
}

.flag--old-blue .post .post_info .reblog_icon {
    color: var(--old-grey);
}

.flag--old-blue .post .post_content_inner.safemode,
.flag--old-blue .post .post_content_inner.tagfiltering {
    color: var(--old-grey);
}

.flag--old-blue .post .post_content_inner.safemode .link,
.flag--old-blue .post .post_content_inner.tagfiltering .link {
    color: var(--old-accent);
}

.flag--old-blue .post .post_content_inner.safemode .tx-button,
.flag--old-blue .post .post_content_inner.tagfiltering .tx-button {
    color: var(--old-grey);
}
.flag--old-blue .post_controls .post_control:before {
    color: var(--old-grey);
}
.flag--old-blue .post_controls .post_control.like.liked:before {
    color: var(--old-red);
}
.flag--old-blue .post_controls .post_control.reblog.reblogged:before {
    color: var(--old-green);
}
.flag--old-blue .post .post_tags_inner.dragging .post_tag:hover {
    color: var(--old-grey);
}

.flag--old-blue .post .post_tags a {
    color: var(--old-grey);
}

.flag--old-blue .post .post_tags .post_tag {
    color: var(--old-grey);
}
.flag--old-blue .post .post_body .tmblr-truncated .tmblr-truncated-link,
.flag--old-blue .post .post_body .tmblr-truncated:after,
.flag--old-blue .post-content-text .tmblr-truncated .tmblr-truncated-link,
.flag--old-blue .post-content-text .tmblr-truncated:after,
.flag--old-blue .reblog-content .tmblr-truncated .tmblr-truncated-link,
.flag--old-blue .reblog-content .tmblr-truncated:after {
    color: var(--old-accent);
}

.flag--old-blue .post .post-source-footer {
    color: var(--old-grey);
}

.flag--old-blue .post .post-source-footer a.post-source-link {
    color: var(--old-grey);
}

.flag--old-blue .post .recommendation-reason-link {
    color: var(--old-red);
}
.flag--old-blue .post_full.has_pce.pce_ads_cpi .cpi_install_button,
.flag--old-blue .post_full.has_pce.pce_ads_cpi .cpi_install_button:active {
    background: var(--old-green);
}

.flag--old-blue .post .dockable_video_embed .post_header .post_info_tumblelog {
    color: var(--old-grey);
}

.flag--old-blue .post .dockable_video_embed .post_info .post_info_link {
    color: var(--old-grey);
}

.flag--old-blue .post .post_reblog_poof {
    color: var(--old-green);
}

.flag--old-blue .post .post_animated_heart,
.flag--old-blue .standalone-ad-container .post_animated_heart {
    color: var(--old-red);
}

.flag--old-blue .post .post_animated_heart.unliked,
.flag--old-blue .standalone-ad-container .post_animated_heart.unliked {
    color: var(--old-grey);
}
.flag--old-blue .post_full.is_link .link-button.link-button--title-over-image .publisher > span:before {
    background: var(--old-green);
}

.flag--old-blue .timeline-yam-plus-ad-container .section_header {
    color: var(--old-grey);
}

.flag--old-blue .blog-activity .blog-activity--empty {
    color: var(--old-grey);
}

.flag--old-blue .blog-activity .blog-activity-more {
    color: var(--old-grey);
}

.flag--old-blue .ask-form .ask-character-count.count-warning {
    color: var(--old-orange);
}

.flag--old-blue .ask-form .ask-character-count.count-danger {
    color: var(--old-red);
}
.flag--old-blue .binary-switch input[type=checkbox]:checked~.binary-switch-track {
    background: var(--old-accent);
}

.blog-selector-container .flag--old-blue .selected-blog .caret.is-open,
.flag--old-blue .blog-selector-container .selected-blog .caret.is-open {
    color: var(--old-accent);
}

.blog-selector-container .flag--old-blue .selected-blog .caret.has-badge,
.flag--old-blue .blog-selector-container .selected-blog .caret.has-badge {
    background: var(--old-accent);
}

.flag--old-blue .ui_dialog_lock {
    background: rgba(54,70,93,.95);
}

.flag--old-blue .ui_dialog .text a {
    color: var(--old-accent);
}

.flag--old-blue .ui_dialog .chrome.blue {
    background-color: var(--old-accent);
}

.discover_actions_discover.flag--old-blue .elevator,
.search_actions_search.flag--old-blue .elevator {
    background-color: rgba(54,70,93,.85);
}
.flag--old-blue .plus-follow-button:hover {
    background: var(--old-accent);
}

.flag--old-blue .plus-follow-button.blue {
    background: var(--old-accent);
}

.flag--old-blue .reblog_follow_button .follow-text,
.flag--old-blue .worded-follow-button .follow-text {
    color: var(--old-accent);
}
.flag--old-blue .popover--gif-search .gif-search-results .gif-search-result:nth-child(odd),
.popover--gif-search .flag--old-blue .gif-search-results .gif-search-result:nth-child(odd) {
    background-color: var(--old-green);
}
.flag--old-blue .popover--gif-search .gif-search-results .gif-search-result:nth-child(8n),
.popover--gif-search .flag--old-blue .gif-search-results .gif-search-result:nth-child(8n) {
    background-color: var(--old-accent);
}
.flag--old-blue .popover--gif-search .gif-search-results .gif-search-result:nth-child(2n),
.popover--gif-search .flag--old-blue .gif-search-results .gif-search-result:nth-child(2n) {
    background-color: var(--old-red);
}
.flag--old-blue .popover--gif-search .gif-search-results .gif-search-result:nth-child(3n),
.popover--gif-search .flag--old-blue .gif-search-results .gif-search-result:nth-child(3n) {
    background-color: var(--old-orange);
}
.flag--old-blue .popover--gif-search .gif-search-results .gif-search-result:nth-child(5n),
.popover--gif-search .flag--old-blue .gif-search-results .gif-search-result:nth-child(5n) {
    background-color: var(--old-green);
}
.flag--old-blue .popover--gif-search .gif-search-results .gif-search-result:nth-child(7n),
.popover--gif-search .flag--old-blue .gif-search-results .gif-search-result:nth-child(7n) {
    background-color: var(--old-accent);
}
.flag--old-blue .popover--gif-search .gif-search-results .gif-search-result:nth-child(5n),
.popover--gif-search .flag--old-blue .gif-search-results .gif-search-result:nth-child(5n) {
    background-color: var(--old-purple);
}
.flag--old-blue .popover--gif-search .gif-search-results .gif-search-result:nth-child(8n),
.popover--gif-search .flag--old-blue .gif-search-results .gif-search-result:nth-child(8n) {
    background-color: var(--old-red);
}
.flag--old-blue .popover--gif-search .gif-search-results .gif-search-result:nth-child(12n),
.popover--gif-search .flag--old-blue .gif-search-results .gif-search-result:nth-child(12n) {
    background-color: var(--old-orange);
}
.flag--old-blue .popover--gif-search .gif-search-results .gif-search-result:nth-child(18n),
.popover--gif-search .flag--old-blue .gif-search-results .gif-search-result:nth-child(18n) {
    background-color: var(--old-green);
}

.flag--old-blue .blue#glass_overlay,
.flag--old-blue .blue#hello_glass,
.flag--old-blue .blue.glass {
    background: rgba(54,70,93,.95);
}

.flag--old-blue .show.color.plexi {
    background: rgba(54,70,93,.95);
}

.flag--old-blue .compose-button {
    fill: var(--old-accent);
}

.flag--old-blue .tab-bar-container .tab_notice {
    color: var(--old-blue);
}

.flag--old-blue .tab_bar .tab_anchor {
    opacity: 0.5;
}

.flag--old-blue .l-header-container--refresh {
    background-color: var(--old-blue);
}

.flag--old-blue .messaging-share-post .messaging-share-post-message .compose-text-input-container .submit-button .submit,
.messaging-share-post .flag--old-blue .messaging-share-post-message .compose-text-input-container .submit-button .submit {
    color: var(--old-accent);
}

.flag--old-blue .messaging-share-post .messaging-share-post-result .container,
.messaging-share-post .flag--old-blue .messaging-share-post-result .container {
    color: var(--old-accent);
}

.flag--old-blue .messaging-share-post .messaging-share-post-search .selected-blog,
.messaging-share-post .flag--old-blue .messaging-share-post-search .selected-blog {
    background: var(--old-accent);
}

.flag--old-blue .messaging-share-post .messaging-share-post-external-networks .is-focused.messaging-share-post-external-network,
.messaging-share-post .messaging-share-post-external-networks .flag--old-blue .is-focused.messaging-share-post-external-network {
    color: var(--old-accent);
}

.flag--old-blue .messaging-share-post .messaging-share-post-external-network-subview-wrapper > .external-network-subview .external-network-form-subview .form-result.form-result--fail,
.messaging-share-post .messaging-share-post-external-network-subview-wrapper > .external-network-subview .flag--old-blue .external-network-form-subview .form-result.form-result--fail {
    color: var(--old-red);
}

.flag--old-blue .messaging-inbox .inbox-conversations .is-unread.inbox-conversation .name-container,
.messaging-inbox .inbox-conversations .flag--old-blue .is-unread.inbox-conversation .name-container {
    color: var(--old-accent);
}

.flag--old-blue .messaging-inbox .inbox-compose-toggle .compose-start,
.messaging-inbox .flag--old-blue .inbox-compose-toggle .compose-start {
    color: var(--old-accent);
}

.flag--old-blue .flag--messaging-new-empty-inbox .messaging-inbox .inbox-row .info-container .send-link,
.messaging-inbox .flag--old-blue .flag--messaging-new-empty-inbox .inbox-row .info-container .send-link {
    color: var(--old-accent);
}

.flag--old-blue .messaging-conversation--open .conversation-compose .compose-text-input-container .submit-button .submit,
.messaging-conversation--open .flag--old-blue .conversation-compose .compose-text-input-container .submit-button .submit {
    color: var(--old-accent);
}
.flag--old-blue .messaging-conversation--open .conversation-header:not(.has-image),
.messaging-conversation--open .flag--old-blue .conversation-header:not(.has-image) {
    background-color: var(--old-accent);
}

.flag--old-blue .messaging-conversation--open .conversation-message .retry-button,
.messaging-conversation--open .flag--old-blue .conversation-message .retry-button {
    color: var(--old-red);
}

.flag--old-blue .messaging-conversation--open .conversation-message .retry-button.is-pending,
.messaging-conversation--open .flag--old-blue .conversation-message .retry-button.is-pending {
    color: var(--old-orange);
}

.flag--old-blue .messaging-conversation--open .conversation-message-post .conversation-message-post--gif.message-container .icon,
.flag--old-blue .messaging-conversation--open .conversation-message-post .conversation-message-post--photo.message-container .icon,
.flag--old-blue .messaging-conversation--open .conversation-message-post .conversation-message-post--photoset.message-container .icon,
.messaging-conversation--open .conversation-message-post .flag--old-blue .conversation-message-post--gif.message-container .icon,
.messaging-conversation--open .conversation-message-post .flag--old-blue .conversation-message-post--photo.message-container .icon,
.messaging-conversation--open .conversation-message-post .flag--old-blue .conversation-message-post--photoset.message-container .icon {
    background: var(--old-red);
}

.flag--old-blue .messaging-conversation--open .conversation-message-post .conversation-message-post--quote.message-container .icon,
.messaging-conversation--open .conversation-message-post .flag--old-blue .conversation-message-post--quote.message-container .icon {
    background: var(--old-orange);
}

.flag--old-blue .messaging-conversation--open .conversation-message-post .conversation-message-post--link.message-container .icon,
.messaging-conversation--open .conversation-message-post .flag--old-blue .conversation-message-post--link.message-container .icon {
    background: var(--old-green);
}

.flag--old-blue .messaging-conversation--open .conversation-message-post .conversation-message-post--chat.message-container .icon,
.messaging-conversation--open .conversation-message-post .flag--old-blue .conversation-message-post--chat.message-container .icon {
    background: var(--old-accent);
}

.flag--old-blue .messaging-conversation--open .conversation-message-post .conversation-message-post--audio.message-container .icon,
.messaging-conversation--open .conversation-message-post .flag--old-blue .conversation-message-post--audio.message-container .icon {
    background: var(--old-purple);
}

.flag--old-blue .messaging-conversation--open .conversation-message-post .conversation-message-post--video.message-container .icon,
.messaging-conversation--open .conversation-message-post .flag--old-blue .conversation-message-post--video.message-container .icon {
    background: var(--old-vidgrey);
}

.flag--old-blue .messaging-conversation--open .conversation-message-safemode-post .message-bubble,
.messaging-conversation--open .flag--old-blue .conversation-message-safemode-post .message-bubble {
    color: var(--old-grey);
}

.flag--old-blue .mobile-banner {
    background: var(--old-green);
}

.flag--old-blue .app-gate .mobile-banner {
    background-color: var(--old-blue);
}

.flag--old-blue .mobile-banner.pop {
    background: var(--old-purple);
}

.flag--old-blue .ui_notes .date_header,
.flag--old-blue .ui_notes .date_header.date_activity {
    color: var(--old-grey);
}

.flag--old-blue .ui_notes .activity-notification .activity-notification__activity .activity-notification__activity_message .activity-notification__activity_reply .activity-notification__activity_reply_link {
    color: var(--old-accent);
}

.flag--old-blue .ui_notes .activity-notification .activity-notification__activity .activity-notification__activity_message .activity-notification__activity_response blockquote {
    color: var(--old-grey);
}

.flag--old-blue .ui_notes .activity-notification .activity-notification__icon .note_follow {
    color: var(--old-accent);
}

.flag--old-blue .ui_notes .activity-notification .activity-notification__icon .ui_post_badge.audio {
    background-color: var(--old-purple);
}

.flag--old-blue .ui_notes .activity-notification .activity-notification__icon .ui_post_badge.conversation {
    background-color: var(--old-accent);
}

.flag--old-blue .ui_notes .activity-notification .activity-notification__icon .ui_post_badge.link {
    background-color: var(--old-green);
}

.flag--old-blue .ui_notes .activity-notification .activity-notification__icon .ui_post_badge.quote {
    background-color: var(--old-orange);
}

.flag--old-blue .ui_notes .activity-notification.is_friend {
    color: var(--old-blue);
}

.flag--old-blue .ui_notes .activity-notification.is_friend .activity-notification__activity {
    color: var(--old-blue);
}

.flag--old-blue .ui_notes .activity-notification.is_friend .activity-notification__activity_main .activity,
.flag--old-blue .ui_notes .activity-notification.is_friend .activity-notification__activity_main .activity a {
    color: var(--old-blue);
}

.flag--old-blue .ui_notes .activity-notification.is_friend .activity-notification__activity_main .summary {
    color: #afb5be;
}

.flag--old-blue .ui_notes .activity-notification.note_mention .activity-notification__activity .activity-notification__activity_message.conversational .activity-notification__activity_response blockquote,
.flag--old-blue .ui_notes .activity-notification.user_mention .activity-notification__activity .activity-notification__activity_message.conversational .activity-notification__activity_response blockquote {
    color: #86909e;
}
.flag--old-blue .ui_notes .activity-notification:hover.is_friend {
    background-color: #f0f3f6;
}

.flag--old-blue .search_filter_items .popover_menu_item .icon_post_text_small {
    color: #444;
}

.flag--old-blue .search_filter_items .popover_menu_item .icon_post_photo_small {
    color: var(--old-red);
}

.flag--old-blue .search_filter_items .popover_menu_item .icon_post_quote_small {
    color: var(--old-orange);
}

.flag--old-blue .search_filter_items .popover_menu_item .icon_post_link_small {
    color: var(--old-green);
}

.flag--old-blue .search_filter_items .popover_menu_item .icon_post_chat_small {
    color: var(--old-accent);
}

.flag--old-blue .search_filter_items .popover_menu_item .icon_post_audio_small {
    color: var(--old-purple);
}

.flag--old-blue .search_filter_items .popover_menu_item .icon_post_video_small {
    color: var(--old-vidgrey);
}

.flag--old-blue .search_filter_items .popover_menu_item .icon_checkmark {
    color: var(--old-accent);
}

.flag--old-blue .peepr-body .indash_blog a.reblog_info {
    color: var(--old-grey);
}

.flag--old-blue .peepr-body .indash_blog a.source_info {
    color: var(--old-grey);
}

.flag--old-blue .peepr-body .indash_blog .post_notes_label {
    color: var(--old-grey);
}

.flag--old-blue .search_filter_items .popover_menu_item .icon_post_text_small {
    color: #444;
}

.flag--old-blue .search_filter_items .popover_menu_item .icon_post_photo_small {
    color: var(--old-red);
}

.flag--old-blue .search_filter_items .popover_menu_item .icon_post_quote_small {
    color: var(--old-orange);
}

.flag--old-blue .search_filter_items .popover_menu_item .icon_post_link_small {
    color: var(--old-green);
}

.flag--old-blue .search_filter_items .popover_menu_item .icon_post_chat_small {
    color: var(--old-accent);
}

.flag--old-blue .search_filter_items .popover_menu_item .icon_post_audio_small {
    color: var(--old-purple);
}

.flag--old-blue .search_filter_items .popover_menu_item .icon_post_video_small {
    color: var(--old-vidgrey);
}

.flag--old-blue .search_filter_items .popover_menu_item .icon_checkmark {
    color: var(--old-accent);
}

.flag--old-blue .overlay-container .indash_blog .overlay-wrapper .post_content_inner.safemode,
.flag--old-blue .overlay-container .indash_blog .overlay-wrapper .post_content_inner.tagfiltering,
.flag--old-blue .peepr-drawer.overlay-container .overlay-wrapper .post_content_inner.safemode,
.flag--old-blue .peepr-drawer.overlay-container .overlay-wrapper .post_content_inner.tagfiltering {
    color: var(--old-grey);
}

.flag--old-blue .overlay-container .indash_blog .overlay-wrapper .post_content_inner.safemode .link,
.flag--old-blue .overlay-container .indash_blog .overlay-wrapper .post_content_inner.tagfiltering .link,
.flag--old-blue .peepr-drawer.overlay-container .overlay-wrapper .post_content_inner.safemode .link,
.flag--old-blue .peepr-drawer.overlay-container .overlay-wrapper .post_content_inner.tagfiltering .link {
    color: var(--old-accent);
}

.flag--old-blue .survey-body .tx-button {
    color: var(--old-accent);
}
.flag--old-blue .post-activity-header .return:before,
.flag--old-blue .post-activity-header .tags-mode-button:before {
    color: var(--old-grey);
}

.flag--old-blue .is-followed.without-commentary.post-activity-note {
    border-color: #e5e7ea;
}
.flag--old-blue .like .post-activity-note-avatar .post-activity-avatar-link:after {
    background-color: var(--old-red);
}
.flag--old-blue .reblog .post-activity-note-avatar .post-activity-avatar-link:after {
    background-color: var(--old-green);
}
.flag--old-blue .answer .post-activity-note-avatar .post-activity-avatar-link:after,
.flag--old-blue .reply .post-activity-note-avatar .post-activity-avatar-link:after {
    background-color: var(--old-accent);
}

.flag--old-blue .is-followed.with-commentary .post-activity-note-content {
    border-color: #e5e7ea;
}

.flag--old-blue .is-followed .post-activity-note-content .note-text {
    color: #86909e;
}

.flag--old-blue .is-followed .post-activity-note-content .note-text .note-text-link {
    color: var(--old-blue);
}

.flag--old-blue .is-followed .post-activity-note-content .note-added-tags,
.flag--old-blue .is-followed .post-activity-note-content .note-added-text {
    color: var(--old-blue);
}

.flag--old-blue .post-activity-note-content .note-added-tags .tag,
.flag--old-blue .post-activity-note-content .note-added-text .tag {
    color: var(--old-grey);
}

.flag--old-blue .post-activity-reply .submit {
    color: var(--old-accent);
}

.flag--old-blue .post-activity-header .subscription-status .outer {
    fill: var(--old-blue);
}

.flag--old-blue .post-activity-header .subscription-status .bolt {
    fill: var(--old-blue);
}

.flag--old-blue .post-activity-header .subscription-status.is-subscribed .inner {
    fill: var(--old-blue);
}

.flag--old-blue .post-forms-glass {
    background-color: rgba(54,70,93,.95);
}

.flag--old-blue .post-form--form.blocked {
    background-color: var(--old-accent);
}

.flag--old-blue .post-container {
    color: #444;
}

.flag--old-blue .post-container a {
    color: #444;
}

.flag--old-blue .post-form--tag-editor .tag-label {
    color: var(--old-grey);
}

.flag--old-blue .post-form--tag-editor .tag-label.hover-style,
.flag--old-blue .post-form--tag-editor .tag-label.selected {
    color: var(--old-accent);
}

.flag--old-blue .pop-menu input[type=text].field,
.flag--old-blue .post-form input[type=text].field {
    color: #444;
}

.flag--old-blue .media-container .video-error {
    background-color: var(--old-vidgrey);
}

.flag--old-blue .media-container.audio-media-container .album-art-uploader .media-dropzone {
    color: var(--old-purple);
}

.flag--old-blue .media-dropzone .media-url {
    color: #444;
}

.flag--old-blue .overlay-button.active .icon {
    color: var(--old-accent);
}

.flag--old-blue .pop-menu {
    color: #444;
}

.flag--old-blue .pop-menu .form-group .field.checkbox .help_text {
    color: var(--old-grey);
}

.flag--old-blue .post-form--header {
    color: var(--old-grey);
}

.flag--old-blue .post-form--header .tumblelog-select .caption {
    color: #444;
}

.flag--old-blue .post-form--header .tumblelog-select .reblog_source {
    opacity: .6;
}

.flag--old-blue .post-form--header .tumblelog-select .reblog_name {
    color: var(--old-grey);
}

.flag--old-blue .post-form--header .tumblelog-select .icon_arrow_carrot_down {
    color: #444;
}

.flag--old-blue .post-form--header .tumblelog-select .reblog-icon {
    opacity: .5;
}


.flag--old-blue .quote-field .editor-placeholder {
    color: var(--old-grey);
}

.flag--old-blue .post-composer_link-post .link-editor .editor {
    color: var(--old-green);
}

.flag--old-blue .post-composer_link-post.loaded .link-editor {
    background: var(--old-green);
}

.flag--old-blue .editor-placeholder,
.flag--old-blue .editor-plaintext,
.flag--old-blue .editor-richtext {
    color: #444;
}

.flag--old-blue .editor-placeholder {
    color: var(--old-grey);
}
.flag--old-blue .editor .over-bottom:after,
.flag--old-blue .editor .over-top:before {
    background-color: var(--old-accent);
}

.flag--old-blue .editor-slot .inline-controls .tray .post-form--inline-embed-field .editor-plaintext.invalid,
.flag--old-blue .editor-slot .inline-controls .tray .post-form--inline-embed-field .invalid.editor-placeholder {
    color: var(--old-red);
}

.flag--old-blue .bubbles > div.active {
    background-color: var(--old-accent);
}

.flag--old-blue .html-mode .src-view {
    color: #444;
}

.flag--old-blue .control-reblog-tree .btn-show-tree {
    color: var(--old-grey);
}

.flag--old-blue .btn-remove {
    color: var(--old-grey);
}
.flag--old-blue [data-help-popover=inline-controls] .post-container-inner:after,
.flag--old-blue [data-help-popover=inline-controls] .post-form--avatar:after {
    background: rgba(0,25,53,.95);
}

.flag--old-blue .popover--reblog-graph .reblog-graph-info-button {
    color: var(--old-accent);
}
.flag--old-blue .reblog-list-item .reblog-avatar.sub-icon-reblog:before {
    background: var(--old-green);
}

.flag--old-blue .ui_search {
    color: rgba(54,70,93,.95);
}

.flag--old-blue .ui_search .search_query::-webkit-input-placeholder {
    color: rgba(54,70,93,.95);
}

.flag--old-blue .ui_search .search_query::-moz-placeholder {
    color: rgba(54,70,93,.95);
}
.flag--old-blue .ui_search .search_query:-moz-placeholder {
    color: rgba(54,70,93,.95);
}
.flag--old-blue .ui_search .search_query:-ms-input-placeholder {
    color: rgba(54,70,93,.95);
}
.flag--old-blue .ui_search.active .search_form_field:before,
.flag--old-blue .ui_search.selected .search_form_field:before {
    color: #444;
}

.flag--old-blue .ui_search.active .search_query,
.flag--old-blue .ui_search.selected .search_query {
    color: #444;
}

.flag--old-blue .ui_search.active .search_query::-webkit-input-placeholder,
.flag--old-blue .ui_search.selected .search_query::-webkit-input-placeholder {
    color: var(--old-grey);
}

.flag--old-blue .ui_search.active .search_query::-moz-placeholder,
.flag--old-blue .ui_search.selected .search_query::-moz-placeholder {
    color: var(--old-grey);
}
.flag--old-blue .ui_search.active .search_query:-moz-placeholder,
.flag--old-blue .ui_search.selected .search_query:-moz-placeholder {
    color: var(--old-grey);
}
.flag--old-blue .ui_search.active .search_query:-ms-input-placeholder,
.flag--old-blue .ui_search.selected .search_query:-ms-input-placeholder {
    color: var(--old-grey);
}

.flag--old-blue .site-notification {
    background: var(--old-green);
}

.flag--old-blue .site-notification.site-notification-danger {
    background: var(--old-red);
}

.flag--old-blue .tab-post-type .post-type-icon {
    background-image: url("https://static.tumblr.com/2wliono/lHFpn4sfk/quick_compose_sprite_1_.png");
}

.flag--old-blue .search-text-ad .sponsored-header .sponsored-text {
    color: var(--old-grey);
}

.flag--old-blue .yam-plus-ad-container {
    background-color: #687486;
}

.flag--old-blue .yam-plus-ad-container .ad-bg.bg-orange {
    background-color: var(--old-orange);
}

.flag--old-blue .yam-plus-ad-container .ad-bg.bg-green {
    background-color: var(--old-green);
}

.flag--old-blue .yam-plus-ad-container .ad-bg.bg-blue {
    background-color: var(--old-accent);
}

.flag--old-blue .yam-plus-ad-container .ad-bg.bg-grey {
    background-color: #687486;
}

.flag--old-blue .yam-plus-ad-container .ad-bg.bg-purple {
    background-color: var(--old-purple);
}

.flag--old-blue .yam-plus-ad-container .ad-bg.bg-red {
    background-color: var(--old-red);
}