#container {
	min-width: 900px; width: auto !important; padding: 0px 10px !important;
} 

#content {
	min-width: 900px;
}

#new_post { 
	position: relative; 
}

#new_post #post_buttons {
	left: 50%;
	margin-left:-266px;	
}

#header {
	min-width: 900px; width: auto !important; padding: 0px !important;
}

#posts .post .image_thumbnail.enlarged {
	width: 100% !important; height: auto !important;
}

#posts .post .flipcard,
#posts .post .flipcard_front,
#posts .post_content .image {
	width: 100% !important; height: auto !important;
}

.notification {
	width: 100%;
} 

.notes .note { 	
	width: 100% !important; -webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; box-sizing: border-box; 
}

#right_column {
	width: 25%; min-width: 215px; padding-left: 15px; 
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

#left_column {
	width: 75%; min-width: 625px;
}

#posts .post_container .post_full {
	width: 100% !important;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; box-sizing: border-box; 
}

#header #tabs_outter_container {
	left: auto; right: 5px !important; 
}