#xkit-quick-tags-window {

	width: 210px;
	badckground: rgba(222,224,230,0.47);
	position: absolute;
	z-index: 1000;
	top:30px; left:30px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.42), 0px 0px 7px rgba(0,0,0,0.22), inset 0px 0px 1px white;
	border-radius: 6px;
	display: none;
	border: 1px solid #abafbc;
	
}

.xkit-quick-tags-cp-tag {
	border-bottom: 1px solid rgb(190,190,190);
	padding: 6px 15px 6px 40px;	
	color: rgb(100,100,100);
	font-size: 12px;
	position: relative;	
}

.xkit-quick-tags-cp-tag .xkit-tag-title { font-weight: bold; }


.xkit-quick-tags-tag-delete {
	margin-right: 10px;
	margin-left: 4px;
	color: #AD074A;
	cursor: pointer;
	position: absolute;
	height: 30px; line-height: 30px;
	left: 15px; top: 50%;
	margin-top: -15px;
}

.xkit-quick-tags-tag-delete:hover {
	color: #CC0857;
}

.xkit-quick-tags-cp-tag:last-child {
	border-bottom: 0;	
}

#xkit-quick-tags-user-tags {
	height: 110px;
	border-radius: 5px 5px 0px 0px;
}

#xkit-quick-tags-user-tags.no-other-section{
	border-radius: 5px;
	height: 140px;	
}

#xkit-quick-tags-user-tags.no-scroll-needed {
	height: auto !important;
	overflow: hidden;	
}

#xkit-quick-tags-window .xkit-no-tags {
	
	background: rgba(228,232,238,1);
	color: #7a7f8e;
	border-bottom: 1px solid #abafbc;
	padding: 10px;
	text-align: center;
	font-size: 13px;
	
}

#xkit-quick-tags-window.no-other-section .xkit-no-tags {

	border-bottom: 0;	
	
}

#xkit-quick-tags-window .xkit-tag-other,
#xkit-quick-tags-window .xkit-tag {
	
	background: rgb(228,232,238);
	color: #7a7f8e;
	font-size: 13px;
	padding: 5px 9px 5px 9px;
	border-bottom: 1px solid #abafbc;
	cursor: pointer;
	
}

#x1cpostage_quick_tags .xkit-tag {
	
	background: rgba(255,255,255,0.86);
	color: #7a7f8e;
	font-size: 12px;
	padding: 5px 9px 5px 9px;
	margin-top: 1px;
	cursor: pointer;
	
}

#x1cpostage_quick_tags.xkit-no-reverse-ui .xkit-tag {
	
	border-top: 0;
	border-bottom: 1px solid #abafbc;
		
}

#x1cpostage_quick_tags .xkit-tag:hover,
#xkit-quick-tags-window .xkit-tag:hover {

	background-color: rgba(234,239,246,1);
	color: #696d7a;	
	
}

#xkit-quick-tags-window .xkit-tag-other {
	
	background-color: #c8ced7 !important;
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.11);
	background-image: none;
	padding: 7px 9px;
	cursor: default;
	font-size: 12px;
	color: #696d7a !important;	
	border-bottom: 0;
		
}

#xkit-tag-input {

	width: 100%;
	border: 1px solid rgb(180,180,180);
	padding: 5px 7px;
	border-radius: 5px;
	font-size: 13px;
	margin-top: 4px;
	box-shadow: 0px 1px 0px rgba(255,255,255,0.44);
	
}

#xkit-quick-tags-window .xkit-tag-data {
	
	font-size: 11px;
	color: #9fa3af;
	width: 100%;
	height: 14px;
	line-height: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}

/*#xkit-quick-tags-window.no-other-section .xkit-tag:nth-last-child(2) {
	
	border-bottom: 0 !important;
	
}*/

#xkit-quick-tags-window .xkit-tag:last-child {
	
	border: 0;	
	
}

#xkit-quick-tags-window .xkit-tag-other .xkit-tag-name,
#xkit-quick-tags-window .xkit-tag .xkit-tag-name {
	
	font-weight: bold;
	
}

#xkit-quick-tags-window *{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

#quick-tags-toolbar {
	background: rgb(245,245,245);
	padding: 3px 15px;
	border-bottom: 1px solid rgb(190,190,190);	
}

#xkit-quick-tags-none {
	padding: 15px;
	color: rgb(150,150,150);
	font-size: 13px;
	line-height: 22px;
	text-align: center;	
}