#view-on-dash-background {
	position: fixed;
	width: 100%; height: 100%;
	top: 0; left: 0;
	z-index: 770;
	background: rgba(0,0,0,0.79);	
}

#view-on-dash-forward {
	
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MUM0NUFENDA1RDI3MTFFM0FGNEZEOEMwMEFBQTVCQzciIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MUM0NUFENDE1RDI3MTFFM0FGNEZEOEMwMEFBQTVCQzciPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoxQzQ1QUQzRTVEMjcxMUUzQUY0RkQ4QzAwQUFBNUJDNyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoxQzQ1QUQzRjVEMjcxMUUzQUY0RkQ4QzAwQUFBNUJDNyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Phyqlh0AAAKcSURBVHjazJpRRN9RFMdv/4gRI0ZPI0bsIaUZ0ZgeZoki5R9pJNpLb4keRnraLCNKlBHrZRRZShGJelli00OM8ef/FH8i4q8s/75X5/J7Wr/fOfd27pfP43H/53/uueece39VlUrF3KPPoMPwdAb6QdkEVlUKR+rBCXjCXGMJvA/tSC7lvzoAbphrjIJ8DI5Y7YFPgnUWQYP21nKqBvugnbnWEXgFrjUjYmhrDYJz5lov6eBQj4hTF9gUrNkDNjQj4rQFZgRrLoOnMUTEqgYc0Hbh6BC8FpyEXiJiKGHtkXzBtLcHxnQMEXHqA6sC+06woxkRpzUwL7D/Rp2DekRcvvwEzUx7W2zfSPMl5+HPcPlyybS3Demk+FfYiHhiqMLXP9AhWd/H1krqKxgRtPxNoKSVI0k9AsfgOdN+h04ylRxJqiwcpN6CCe0cSTIqyJcr0KadI0l9FwxURdCSpdMO6Ugt5Usj036DOmWVHEnqkuoLd5DqBmMxOGL1G4wL7L+k7RhCbq2kftA/zNFf8OK+TjtnHkbDoMC0fUaXFyYGR6qpWHJ1EcvW2qZix9Epba2ydkQmBU6k7xQCVXZHO3W2XI3EUNnrwC/BjckKeBdDZZccuX8oL1IPa6FyZEzgBGviDOFIK1VkrsapI1AdrB5TXnBv3tdBbwyDleT5oEAdgNF2RPKgI7259OaIndFnBfYfzN37ieoFnXSAYl84+I7IgsCJYpaiF9KRIYIj9wJW0nakkaLB1ZS5eyfxIslDj/rFtY+IzAmcKNGW8uYE15E81QxJXpz57ouyOtKQZn7+j+xHB7shutQsORLdAyg3Ih8FTpyHyAtORLppUOIqyEcCWSNiR9VlwRozoZ1IGxHbDHI/pCka2f1vat0KMADLW6Pz0MlqkAAAAABJRU5ErkJggg==);
	width: 50px; height: 50px;
	position: fixed;
	top: 50%; margin-top: -25px;	
	left: 50%;
	margin-left: 260px;
	opacity: 0.65;
	cursor: pointer; 
	
}

#view-on-dash-back {
	
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MUM0NUFENDQ1RDI3MTFFM0FGNEZEOEMwMEFBQTVCQzciIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MUM0NUFENDU1RDI3MTFFM0FGNEZEOEMwMEFBQTVCQzciPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoxQzQ1QUQ0MjVEMjcxMUUzQUY0RkQ4QzAwQUFBNUJDNyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoxQzQ1QUQ0MzVEMjcxMUUzQUY0RkQ4QzAwQUFBNUJDNyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pg9aaGoAAAK5SURBVHjazFpRZJVhGP53xjhEjNHViIhdpNmUWGRXi2y6mGJOzOZcdRGzdBHpqjQRZexioqvNMhZZFhl1lbHZxegquhojYkxHc3pevT+naPvO+7zf/52H5+68//8/533f732/9/va6vV6FhFlcAk8ZbT/AN4N+WFbZCFzYNVouweeA3dDflyKKOIGIeIQvBkqIqaQ0+oNKx5rWAUjRmh1gB/BC0b7T+AV9UqW0iNPCBHfwbFmRcTwyDC4QthfA99aDD090g2+JOxnrCI8PdIOroMDRvvP4GWwZv0AL488JET80KW2xnyAh0eGwFXCfhR8zX4E6xFpPV4R9i88RLAekbxYAweN9lvgRTakPDxyjxCx75EXf0E8YuAg+KtuR8X43v/SElpd4DbRms+Dk97thEXIqq5UFuyA/eCBt5Bmc2SaEHGgS627iGZz5BL4k8iLqndeWHKkE9zUfsqCRV2loiFUyIp2thZ80bzYjykkJEduEyJq6omoIkKEnAefEs+f0goeHUeF1klwAzxjfPYbcCQrCKVjRjlWEV/B8axAlI7ZJ1hR1qayMBwVWmUNrR7js9+BV1vBI2wlHtIOuRgEVM0JoppLhzwQs6I3W9llF1gx/lffwF6dWSWv7Cc0X8626lIc2v2yO7ph7RCSC8n32FPEu6RD6EsdWo1YBq8ThbKXrFFuw4dx/SAL2OMGVyHsZJA5AHIfB8ms9j7x3mdEx+A+oGMHEa4bLnZkeksLngVSk2ZTh1YOOXk1nTApKkTH4CpEIGd+Dwj7WaJjcMuRHMkH2l4HPYcaYntGe5kNPE8dWjl2yXypao1JLkTwPvtz2G/FnFb/ZDnyb76sZwUfjMa4MJDni3UjJZcNHrWCRxr3IMzlgRHdkCXzSOOucIawl8sH3a3gEYFcsFnI7FN8KbZ3Qn74W4ABANDbovPuGfr5AAAAAElFTkSuQmCC);
	width: 50px; height: 50px;
	position: fixed;
	top: 50%; margin-top: -25px;	
	left: 50%;
	margin-left: -390px;
	opacity: 0.65;
	cursor: pointer; 
	
}

#view-on-dash-forward:hover,
#view-on-dash-back:hover {

	opacity: 1;	
	
}

#view-on-dash-forward:active,
#view-on-dash-back:active {

	opacity: 0.88;
	margin-top: -24px;	
	
}

#view-on-dash-forward.disabled,
#view-on-dash-back.disabled {
	
	opacity: 0.11 !important;
	cursor: default !important;
	margin-top: -25px !important;
	
}

.view-on-dash-not-supported {
	border: 1px dashed rgb(200,200,200);
	text-align: center;
	color: rgb(140,140,140);
	height: 200px;
	line-height: 200px;
}

#view_on_dash_button:after {
	background: no-repeat 0px 45% url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RDUwNTE3MUMyQUVDMTFFMzk3NjJBMTk2OEYyM0IxREYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RDUwNTE3MUQyQUVDMTFFMzk3NjJBMTk2OEYyM0IxREYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpGNDhGRThGNTJBRUIxMUUzOTc2MkExOTY4RjIzQjFERiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpGNDhGRThGNjJBRUIxMUUzOTc2MkExOTY4RjIzQjFERiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pr+zU88AAADzSURBVHjarNTNCgFRFAfwGUaIUlizF7KgKK/gAZQHkHkeGzvvYGWhRHY+1pYWNr5CEmL8b/0X06TcOzOnfp17m+nMPXfujG5Zlqn5FAHbuEvOsatinkP3s03D0abbMH1v0/hzvQwluNMepvBRfQFNKMCSRTTO2xBSKZaDJMxgDgsYcXU61FWK1Zi3zDvIQtT2sITsnkWYrxxXoOi4Jyi7sidzA8KQ+XGPJVtszSyKtOABPZ7FA+cX2WITeNnmac5jkIIhvGX3TJyjPlQhz/3pwBkGsFE9tKKVMazYQRyOcHP7BWhcjYiTyudk+vlz9BxfAQYAyv8zs1fSo+QAAAAASUVORK5CYII=) !important;
	content: "\54";
	font-size: 0;
	line-height: 37px;
	width: 20px;
}

#view-on-dash-content.loading {
	
	background-image: url('data:image/gif;base64,R0lGODlhKwArAIAAAP///////yH/C05FVFNDQVBFMi4wAwEAAAAh/wtYTVAgRGF0YVhNUDw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QjBBMUE1RUY1RDFGMTFFM0FGNEZEOEMwMEFBQTVCQzciIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QjBBMUE1RjA1RDFGMTFFM0FGNEZEOEMwMEFBQTVCQzciPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpCMEExQTVFRDVEMUYxMUUzQUY0RkQ4QzAwQUFBNUJDNyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpCMEExQTVFRTVEMUYxMUUzQUY0RkQ4QzAwQUFBNUJDNyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PgH//v38+/r5+Pf29fTz8vHw7+7t7Ovq6ejn5uXk4+Lh4N/e3dzb2tnY19bV1NPS0dDPzs3My8rJyMfGxcTDwsHAv769vLu6ubi3trW0s7KxsK+urayrqqmop6alpKOioaCfnp2cm5qZmJeWlZSTkpGQj46NjIuKiYiHhoWEg4KBgH9+fXx7enl4d3Z1dHNycXBvbm1sa2ppaGdmZWRjYmFgX15dXFtaWVhXVlVUU1JRUE9OTUxLSklIR0ZFRENCQUA/Pj08Ozo5ODc2NTQzMjEwLy4tLCsqKSgnJiUkIyIhIB8eHRwbGhkYFxYVFBMSERAPDg0MCwoJCAcGBQQDAgEAACH5BAkSAAEALAAAAAArACsAAAJNjI+py+0Po5y02ouz3rz7D4biSJbmiabqGgDuCyDwK89xZN9GXs8SfwDubD9i0Dj04ZAtpvDxjDIdUmUSxspqt9yu9wsOi8fksvmcKQAAIfkECRIAAQAsEgASABIABwAAAhGED6GB3cuchHKu6ihGepuOFAAh+QQJEgABACwdABIABwAHAAACBoSPqcuNBQAh+QQFIQABACwAAAAAAQABAAACAkwBACH5BAUSAAEALAcAEgAHAAcAAAIGhI+py40FACH5BAUSAAEALBIAEgAHAAcAAAIGhI+py40FADs=');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 43px; height: 43px !important;
	margin-left: -22px;
	top: 50%;
	margin-top: -43px;
	min-height: 43px !important;
	
}

#view-on-dash-content {
	position: absolute;
	width: 625px; min-height: 100%;
	top: 0; left: 50%;
	margin-left: -312px;
	padding-top: 40px;
	padding-bottom: 40px;
	z-index: 771;
}

.xkit-view-on-dash-ol {
	margin-left: 0 !important;	
}

#view-on-dash-header {
	width: 540px;
	position: relative;
	height: 90px;	
}

#view-on-dash-avatar {
	border-radius: 6px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.55);
	position: absolute;
	top: 0px; left: 0px;
	background: black;
}

#view-on-dash-open {
	position: absolute;
	right: 0px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 17px;
	border: 1px solid white;
	line-height: 40px;
	height: 40px;
	padding: 0px 10px;
	border-radius: 6px;
	top: 12px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.77);
	text-shadow: 0px 1px 3px rgba(0,0,0,0.77);	
}

#view-on-dash-open:hover {
	background: rgba(255,255,255,0.11);	
}

#view-on-dash-open:active {
	background: rgba(0,0,0,0.20);
	top: 13px;
	box-shadow: none;	
}

#view-on-dash-title {
	position: absolute;
	left: 80px;
	top: 13px;
	color: white;
	font-size: 16px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.88);
	font-weight: bold;
	opacity: inherit;
}

#view-on-dash-username {
	position: absolute;
	left: 80px;
	top: 35px;
	color: white;
	font-size: 15px;
	line-height: 15px;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.77);
}