/* NAME Starry Nights **/
/* VERSION 1.0.1 **/
/* DESCRIPTION A purple-toned theme with a nebula background **/
/* DEVELOPER qothicplague **/

body {
	background-image: url('http://www.wallpapershdi.com/wallpaper-original/wallpapers/nebula-1668.jpg');
	background-repeat: repeat-y;
}

#content {
	background: rgba(145, 110, 160, 0.6);
}

.post {
	background: #FFF;
	border-radius: 20px;
}

.post_content {
	background: transparent!important;
}

#right_column:after {
	background: none!important;
}

.controls_section li {
	background: rgba(140, 110, 160, 1.0);
}
