/* NAME Flowers & Lace **/
/* VERSION 1.0.1 **/
/* DESCRIPTION A simple flowery theme **/
/* DEVELOPER willgrahamps **/

body {
	background: #101010;
	/* Background image credit: Cath Kidston (http://www.cathkidston.co.uk/t-wallpaper.aspx) */
	background-image: url('http://25.media.tumblr.com/d4ce447ffaf5ed3429d2c56b67bb115c/tumblr_mnsod5Cpot1stvm9wo1_500.jpg');
}

#content {
	background: rgba(255, 255, 255, 0.6);
}

a {
	color: #afc5b8;
}

.post {
	background: #d3ddd7;
	border-radius: 20px;
}

.post_content {
	background: transparent !important;
	color: #707070;
}

#right_column {
	background: none !important;
}

#right_column a {
	color: #d3ddd7;
}

#right_column:after {
	background: none !important;
}

.controls_section li {
	background: #afc5b8;
}
